@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    
}

.container{
    align-items: center;
    display: flex;
    margin: 0 auto;
    max-width: 360px;
    min-height: 100vh;
}

.card{
    background-color: white;
    border-radius: 17px;
    margin: 0 1em;
    padding: 18px;
    text-align: center;
}

.card img{
    border-radius: 12px;
    width: 100%;
}

.text-area{
    padding: 22px 15px;
}

h1{
    color: hsl(218, 44%, 22%);
    padding-bottom: 15px;
    font-size: 1.5em;
}

p{
    color: hsl(220, 15%, 55%);
}
